* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    padding: 10px;
    align-items: center;
    padding: 1rem;
}

.links {
    display: flex;
    list-style: none;
    justify-content: center;
    /* border: 1px darkblue dashed; */
    gap: 1rem
}

.recipes-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 60px 90px;
    /* border: 1px red solid; */
    height: 500px;
    gap: 0.5rem;
}

.recipes {
    list-style: none;
    display: flex;
    /* border: 1px orangered dashed; */
    height: 300px;
    gap: 1rem;
}

.recipe {
    background-color: rgb(253, 243, 230);
    border: 2px solid orange;
    padding: 10px;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat ;
    height: 60px;
    padding: 10px;
}