* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.logo {
    height: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    padding: 10px;
    align-items: center;
    padding: 1rem;
}

.links {
    display: flex;
    justify-content: center;
    /* border: 1px darkblue dashed; */
    gap: 1rem
}

.recipes-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    /* border: 1px red solid; */
    height: max-content;
    gap: 0.5rem;
}

.recipes {
    list-style: none;
    display: flex;
    /* border: 1px orangered dashed; */
    /* height: 300em; */
    gap: 1rem;
    flex-wrap: wrap;
}

.recipe {
    background-color: rgb(253, 243, 230);
    border: 2px solid orange;
    padding: 10px;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat ;
    height: 60px;
    padding: 10px;
}

.play {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
    background-color: rgb(255, 229, 224);
    padding: 3rem 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0.2em dotted whitesmoke;
    height: max-content;
}

.play>h3 {
    min-width: 100%;
    font-size: 16pt;
}

.play>div {
    /* width: 400px; */
    /* border: 1px solid salmon; */
}

.umami-container {
    flex: 1 1 0%;
}

.sweets-container {
    flex: 1 1 0;
}

.sour-container {
    flex: 1 1 0%;
}